results/
runs/
optic_disc_detection/test_images
optic_disc_detection/image_results
optic_disc_detection/image_no_disc_detected
optic_disc_detection/process_results
optic_disc_detection/__pycache__
analysis/__pycache__
analysis/single_run/__pycache__
analysis/compare_runs/__pycache__
optic_disc_detection_vessel/process_results
optic_disc_detection_vessel/__pycache__
optic_disc_detection_vessel/test_images
optic_disc_detection_vessel/image_results
optic_disc_localisation/vessel_method/__pycache__
optic_disc_localisation/visualisations/__pycache__
optic_disc_localisation/runners/__pycache__
optic_disc_localisation/image_processing/__pycache__
optic_disc_localisation/blob_method/__pycache__
optic_disc_localisation/input_images
optic_disc_localisation/outputs